@import "tailwindcss";

@theme {
    --color-bgCol: #0F131A;
    --color-secBgCol: #1A202A;
    --color-cardBgCol: #232A36;

    --color-mainTextCol: #F0F3F8;
    --color-textCol: #C8D0DC;
    --color-secTextCol: #8B9AAB;

    --color-borderCol: #384252;
    --color-hoverCol: #4F5E74;

    --color-accentCol: #6A8CFF;
}

@layer components {
    .uniPadding {
        @apply px-5 pt-3 pb-5 md:px-7 md:pt-5 md:pb-7;
    }
    .uniBorder {
        @apply border-2 border-borderCol
    }
}