@import "tailwindcss";

@theme {
    --color-bgCol: #E5E9F0;
    --color-secBgCol: #F6F8FA;

    --color-mainTextCol: #0B0E11;
    --color-textCol: #2A323C;
    --color-secTextCol: #5A677A;

    --color-borderCol: #B1BCC9;
    --color-hoverCol: #3D4A5C;
}

@layer components {
    .uniPadding {
        @apply px-5 py-3 md:px-7 md:py-5;
    }
    .uniBorder {
        @apply border-2 border-borderCol
    }
}