@import "tailwindcss";


@theme {
    --color-bgCol: #0A0F18;
    --color-secBgCol: #121B28;
    --color-cardBgCol: #1A2636;

    --color-mainTextCol: #F2F6FB;
    --color-textCol: #C4CFDF;
    --color-secTextCol: #788FA8;

    --color-borderCol: #2C3C52;
    --color-hoverCol: #3E526C;

    --color-accentCol: #3D8CFF;
}

@layer components {
    .uniPadding {
        @apply px-5 pt-3 pb-5 md:px-7 md:pt-5 md:pb-7;
    }
    .uniBorder {
        @apply border-2 border-borderCol
    }
}